/* Variables globales */


:root {
  --primary-color: #4F46E5;       
  --secondary-color: #1E293B;     
  --background-color: #F9FAFB;    
  --text-color: #374151;          
  --accent-color: #10B981;        
  --white: #FFFFFF;
}

/* Estilos base y tipografía */
* {
  transition: all 0.2s ease;
}

html, body {
  height: 100%;
  margin: 0;

}

body {
  padding-top: 56px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Layout principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 30px;  
}

.content {
  flex: 1;
  padding: 2rem 0;
  margin-bottom: 60px;
  
}

.container {
  padding: 10px;

}

.row {
  margin-bottom: 30px;
  
}

/* Navegación */
.navbar {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: 500;
  color: var(--white) !important;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: var(--white) !important;
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  margin: 0 5px;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  background-color: var(--secondary-color);
}

/* Cards y widgets */

.card {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde sutil */
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  padding: 1.5rem; /* Más espacio interno */
  font-size: 1.25rem; /* Tamaño de fuente más grande */
}

.card-body {
  padding: 1.5rem; /* Más espacio interno */
}

/* Footer */
.footer {
  position: relative;
  margin-top: auto;
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  
  .navbar-nav .nav-link {
    padding: 8px 12px;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
}