/* Estilos para home.html */

.card {
  position: relative;
  overflow: hidden;
}

.blog-entries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Espacio entre columnas */
  width: 100%;
  min-width: 980px; /* Opcional: ancho mínimo */
  margin-bottom: 1.6rem; /* Espacio debajo del grid */
  max-height: 470px; /* Altura máxima del grid */
  /* overflow-y: auto;  */
   /* Espacio entre cards (horizontal y vertical) */
   column-gap: 30px;
}

.blog-entries-grid .blog-card {
  width: calc(33.33% - 20px); /* Ancho para 3 columnas con espaciado */
  margin: 0;
  height: 200px; /* Altura fija para las cards */
  display: flex;
  flex-direction: column; /* Para que el contenido de la card se ajuste */
}


/* Estilos generales para las tarjetas de blog */
.blog-card {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 200px;  /* Alto fijo para las cards (ajusta según necesidad) */
  display: flex;
  flex-direction: column;

  position: relative; 
}

.blog-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.blog-card .card-body {
  padding: 1.2rem 2rem;
  flex-grow: 1;  /* Permite que el contenido ocupe el espacio disponible */
  overflow: hidden;  /* Evita que el texto desborde */

  position: relative; /* Para el z-index del texto */
    z-index: 2; /* El texto estará por encima de la imagen */
    background-color: rgba(255, 255, 255, 0.7);
}

.blog-card .card-body::before { /* Pseudo-elemento para la imagen de fondo */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/media/blog_images/blog-post-1.jpeg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen */
  z-index: -1; /* La imagen estará por debajo del texto */
  opacity: 0.5; /* Ajusta la opacidad de la imagen */
}

.blog-card .card-title {
  font-size: 1.3rem;
  color: var(--primary-color);
  overflow: hidden;
  text-overflow: ellipsis;  /* Muestra puntos suspensivos si el título es demasiado largo */
  white-space: nowrap;
  margin-bottom: 0.9rem;
  border-bottom: 3px solid rgba(79, 70, 229, 0.6); 
  padding-bottom: 0.5rem;
}

.blog-card .card-text {
  font-size: 0.9rem;
  color: var(--text-color);
  line-height: 1.6;
  font-weight: 450;
  overflow: hidden;
  text-overflow: ellipsis;  /* Muestra puntos suspensivos si el texto es demasiado largo */
  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Limita el texto a 3 líneas */
  -webkit-box-orient: vertical;
  padding: 0  0.5rem;
}

/* Boton Show */

.card .btn-read-more {
  position: absolute;
  top: 55%;
  left: 20%;
  opacity: 0;
  background-color: rgba(79, 70, 229, 0.5); /* Color semitransparente */
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out, background-color 0.7s ease;
  pointer-events: none;
  cursor: pointer;
  padding: 5px 6px;
  border-radius: 15px;
  width: 80px;
}

.card .btn-delete {
  position: absolute;
  top: 55%; /* Misma posición que "Read More" */
  left: 53%; /* Ajusta la posición a la derecha */
  opacity: 0;
  background-color: rgba(255, 0, 0, 0.45); /* Rojo semitransparente */
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out, background-color 0.7s ease;
  pointer-events: none;
  cursor: pointer;
  padding: 5px 6px;
  border-radius: 15px;
  width: 80px;
}

.card:hover .btn-read-more {
  opacity: 1;
  pointer-events: auto;
}

.card .btn-read-more:hover {
  background-color: rgba(79, 70, 229, 0.9); /* Hace el botón sólido en hover */
}

.blog-card .btn-read-more:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

/* Boton Delete */


.card:hover .btn-delete {
  opacity: 1;
  pointer-events: auto;
}

.card .btn-delete:hover {
  background-color: rgba(255, 0, 0, 1); /* Rojo sólido en hover */
}

.blog-card .btn-delete:hover {
  background-color: rgba(255, 0, 0, 1);
  transform: scale(1.05);
}

/* Footer del post */
.blog-card .card-footer {
  background: var(--background-color);
  font-size: 0.7rem;
  color: var(--text-color);
  text-align: right;
  padding: 0.8rem 1.5rem;
  opacity: 0.8; /* Hace el texto un poco más sutil */
}

.blog-card .card-footer .text-info {
  font-weight: 600;
  color: var(--primary-color);
}

.card-footer {
  font-size: 0.7rem; /* Reduce el tamaño del texto */
  opacity: 0.8; /* Hace el texto un poco más sutil */
}

.text-info {
  font-weight: 700;
}

/* Paginación */
.pagination {
  margin-top: 1rem;
}

.pagination .page-link {
  color: var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.pagination .page-link:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.pagination .page-item.active .page-link {
  background-color: var(--primary-color);
  color: var(--white);
}